body{
  background-image: url('../../img/backgrounds.jpeg');
  background-size: 100%;
}

.indexMargin{
  background-color: white;
  width: 70%;
  height: 50%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.indexMargiN{
  background-color: white;
  width: 30%;
  height: 20%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.home{
  text-align: center;
}


#add {
  margin-left:69%;
}

@media (min-width:320px) and (max-width:480px){
  .indexMargiN{
    background-color: white;
    width: 80%;
    height: 80%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #add {
    margin-left:90%;
  }

}

.stars {
  position: relative;
}
.stars input {
  display: none;
  
}
.stars input:checked ~ label:not(.reset) {
  -webkit-animation: wobble 0.8s ease-out;
          animation: wobble 0.8s ease-out;
  color: #fbc416;
}
.stars input:checked:not(#star-reset) ~ label.reset {
  display: block;
}
.stars label{
  display: block;
  /* position: relative; */
  width: 40px;
  height: 40px;
  font-size: 40px;
  /* margin-right:50%; */
  /* left-padding; */
  /* align-content: center; */
  cursor: pointer;
  color: #3d3d3d;
  transition: color 0.1s ease-out;
  /* z-index: 10; */
  float: right;
}

fieldset{

}